@page "/flights"
<h3>Flight Finder</h3>
<div class="d-flex justify-content-between">
	<label>From:</label>
	<input placeholder="Any" />
	<label>To:</label>
	<input placeholder="Any" />
	<label>Day:</label>
	<input placeholder="Any" />
	<button onclick="Flights Finder">Find flights</button>
</div> 
<h3>Flights</h3>
<PageTitle>gggg </PageTitle>
@code {

}
