@page "/flights"
<h3>Flight Finder</h3>
<div class="d-flex justify-content-between">
	<p>From</p>
	<input placeholder="Any" />
	<p>To</p>
	<input placeholder="Any" />
	<p>Day</p>
	<input placeholder="Any" />
	<button onclick="Flights Finder">Find flights</button>
</div> 
<h3>Flights</h3>

@code {

}
