@page "/reservations"

<h1 class="text-center">Reservations Finder</h1>
<div class="d-flex justify-content-between">
	<h3>Code</h3>
	<input placeholder="Any" />
	<h3>Airline</h3>
	<input placeholder="Any" />
	<h3>Name</h3>
	<input placeholder="Any" />
	<button onclick="ReservationFinder">Find Reservations...</button>
</div>
@code {

}
