@page "/reservations"
@using BlazorHybridApp.Data


<h1 class="text-center">Reservations Finder</h1>
<div class="d-flex justify-content-between">
	<h3>Code</h3>
	<input placeholder="Any" />
	<h3>Airline</h3>
	<input placeholder="Any" />
	<h3>Name</h3>
	<input placeholder="Any" />
	<button onclick="ReservationFinder">Find Reservations...</button>
</div>
<h1 class="text-center">Reservations</h1>
<div class="d-flex justify-content-center">
	<p></p>
</div>
<h1 class="text-center">Reserve</h1>

<div class="d-block">
	<h3>Reservation Code</h3>
	<p>@reservation.Rcode</p>
	<h3>Flight Code</h3>
	<p>@reservation.Fcode</p>
	<h3>Airline</h3>
	<p>@reservation.Aname</p>
	<h3>Cost</h3>
	<p>@reservation.Cost</p>
	<h3>Name</h3>
	<input placeholder="Name" @bind=reservation.Cname/>
	<h3>Citizenship</h3>
	<input placeholder="Citizenship" @bind=reservation.Citizenship/>
	<h3>Status</h3>
	<input placeholder="Status" @bind=reservation.Status/>
</div>

<div class="d-flex justify-content-center">
	<button class="text-center"@onclick=Update>Update</button>
</div>
@code{
	Reservation reservation = new Reservation();
	private void Update()
	{
		reservation = ReservationManager.FindReservations()[0];
	}
}
